<!DOCTYPE html>
<html lang="{% if page.path contains 'zh-TW' %}zh-TW{% else %}en{% endif %}">
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    <link rel="me" href="https://micro.blog/muan" />
    <link rel="alternate" type="application/rss+xml" href="/notes.xml" />
    <link rel="icon" href="/assets/fav.svg" type="image/svg+xml" />
    <link
      rel="authorization_endpoint"
      href="https://github-indieauth.herokuapp.com/auth"
    />
    <link
      rel="token_endpoint"
      href="https://github-indieauth.herokuapp.com/token"
    />
    <link rel="micropub" href="https://site-endpoint.herokuapp.com/micropub" />
    {% if page.collection == "posts" %}
    <link
      href="https://ar.dev.br/css/style.css"
      rel="stylesheet"
      type="text/css"
    />
    {% endif %} {% if page.collection == "posts" or page.collection == "pages"
    %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url" />
    <meta
      content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}"
      name="description"
    />
    <meta content="article" property="og:type" />
    <meta content="@muanchiou" property="twitter:site" />
    <meta name="twitter:card" content="summary_large_image" />
    {% if page.image %}
    <meta
      content="http://muan.co/images/{{ page.image }}"
      property="og:image"
    />
    <meta
      content="http://muan.co/images/{{ page.image }}"
      property="twitter:image"
    />
    {% elsif page.image_text %}
    <meta
      content="https://muan-text-image.herokuapp.com/title?v=2&text={{ page.image_text | strip | url_encode }}"
      property="og:image"
    />
    <meta
      content="https://muan-text-image.herokuapp.com/title?v=2&text={{ page.image_text | strip | url_encode }}"
      property="twitter:image"
    />
    {% endif %}
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta content="{{ page.title }} - {{ site.title }}" property="og:title" />
    {% else %}
    <title>{{ site.title }}</title>
    <meta content="{{ site.title }}" property="og:title" />
    <meta content="{{ site.description }}" name="description" />
    <meta content="blog" property="og:type" />

    {% endif %}
    <link
      href="https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="{% if page.collection == 'posts' %}post-body{% endif %}">
    <header class="header">
      <div class="header__content">
        <div class="header__logo-container">
          <div class="header__logo-img-cont">
            <img
              src="./assets/png/andre-ribas.png"
              alt="André Ribas Perfil"
              class="header__logo-img"
            />
          </div>
          <span class="header__logo-sub">André Ribas</span>
        </div>
        <div class="header__main">
          <ul class="header__links">
            <li class="header__link-wrapper">
              <a href="./index.html" class="header__link"> Início </a>
            </li>
            <li class="header__link-wrapper">
              <a href="./index.html#about" class="header__link">Sobre mim </a>
            </li>
            <li class="header__link-wrapper">
              <a href="./index.html#projects" class="header__link">
                Projetos
              </a>
            </li>
            <li class="header__link-wrapper">
              <a href="./index.html#contact" class="header__link"> Contato </a>
            </li>
          </ul>
          <div class="header__main-ham-menu-cont">
            <img
              src="./assets/svg/ham-menu.svg"
              alt="hamburger menu"
              class="header__main-ham-menu"
            />
            <img
              src="./assets/svg/ham-menu-close.svg"
              alt="hamburger menu close"
              class="header__main-ham-menu-close d-none"
            />
          </div>
        </div>
      </div>
      <div class="header__sm-menu">
        <div class="header__sm-menu-content">
          <ul class="header__sm-menu-links">
            <li class="header__sm-menu-link">
              <a href="./index.html"> Início </a>
            </li>

            <li class="header__sm-menu-link">
              <a href="./index.html#about"> Sobre mim </a>
            </li>

            <li class="header__sm-menu-link">
              <a href="./index.html#projects"> Projetos </a>
            </li>

            <li class="header__sm-menu-link">
              <a href="./index.html#contact"> Contato </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <main>
      {% if page.collection == "posts" or page.collection == "pages" %}
      <article>{{ content }}</article>
      <!--div class="pagination">
          {% if page.previous %}
            <div><a href="{{ page.previous.url }}">
              Prev: {{ page.previous.title }}
            </a></div>
          {% endif %}
          {% if page.next %}
            <div><a href="{{ page.next.url }}">
              Next: {{ page.next.title }}
            </a></div>
          {% endif %}
        </div-->
      {% else %} {{ content }} {% endif %}
    </main>
    <footer>
      <hr class="hr" />
      Mu-An Chiou
    </footer>

    <script>
      function settime() {
        const timestamp = document.querySelector("[data-timestamp-text]");
        if (!timestamp || !("Intl" in window)) return;
        const options = {
          timeZone: "Asia/Taipei",
          timeStyle: "short",
          hour12: false,
        };
        const time = new Intl.DateTimeFormat(
          navigator.languages[0] || "zh-TW",
          options
        ).format(new Date());
        // Setting interpolated string instead of just the time because
        // if there's no JS there should be no mentions of current time
        timestamp.textContent = timestamp
          .getAttribute("data-timestamp-text")
          .replace("{time}", time);
        setTimeout(settime, (60 - new Date().getSeconds()) * 1000);
      }
      settime();
    </script>
    <script src="https://ar.dev.br/index.js"></script>
  </body>
</html>
